streamlit==1.38.0
spacy==3.7.6
joblib==1.4.2
pandas==2.2.2
flair==0.14.0
transformers==4.44.2
scikit-learn==1.5.1
pyspark==3.5.2
spark-nlp==5.4.2
dateparser==1.2.0
requests==2.32.3
numpy
thinc==8.2.5
spacy==3.7.6
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl

